
<%- include('../partials/header', { title: title }) %>

<div class="container-fluid">
    <h1 class="mt-4">Manage Academies & Admins</h1>

    <div class="card mb-4">
        <div class="card-header">Create New Academy</div>
        <div class="card-body">
            <form action="/developer/admins" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="academyName">Academy Name</label>
                        <input type="text" class="form-control" id="academyName" name="academyName" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="appTitle">Application Title</label>
                        <input type="text" class="form-control" id="appTitle" name="appTitle" required>
                    </div>
                </div>
                <hr>
                <h5>Admin User Details</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create Academy & Admin</button>
            </form>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Existing Academies</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Academy Name</th>
                            <th>Admin Name</th>
                            <th>Admin Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% academies.forEach(academy => { %>
                            <tr>
                                <td><%= academy.name %></td>
                                <td><%= academy.admin.firstName %> <%= academy.admin.lastName %></td>
                                <td><%= academy.admin.email %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
